*Dockerfile
*.yml
README.md
deploy
.githooks
**/appsettings.Development.json
**/appsettings.User.json
**/*.sh
**/node_modules

**/.vscode
**/.idea
*.swp
*.*~
**/project.lock.json
**/.DS_Store
*.pyc
**/nupkg

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/
**/msbuild.log
**/msbuild.err
**/msbuild.wrn

# Test results
**/TestResults
**/artifacts

# Visual Studio 2015
**/.vs/